.App-logo {
    height: 50px;
}

.App-header {
    background-color: #282c34;
    display: flex;
    align-items: center;
    color: #61dafb;
}

.logout {
    float: left;
    padding-top: 5px;
    padding-right: 1px;
}